
body
{
    background-color: white;
}
.img-content
{
    width: 535px;
    height: 400px;
}

.text-content
{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 795px)
{
    body
    {
        background-color: red;
    }
    .img-content
    {
        width: 500px;
    }

    .text-content
    {
        font-size: 16px;
    }
}

@media (max-width: 540px)
{
    body
    {
        background-color: rgb(64, 0, 255);
    }
    .img-content
    {
        width: 350px;
        height: 300px;
    }

    .text-content
    {
        font-size: 14px;
    }
}

@media (max-width: 390px)
{
    body
    {
        background-color: rgb(0, 255, 106);
    }
    .img-content
    {
        width: 250px;
        height: 200px;
    }

    .text-content
    {
        font-size: 12px;
    }
}

@media (max-width: 420px)
{
    .text-content
    {
        width: 100%;
        text-align: center;
    }
}